@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
$board-bg-color: #0079bf;
$appbar-bg-color:#44adea;
$list-bg-color: #f7f4f4;
$paddind-item: 15px;
$height-item: 36px;
$line-height-item:36px;
$font-size-item:16px;
$border-item: 5px;
$gap:10px;